<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include ./partials/header %>
    <title>Login Page!</title>
</head>

<body>
    <% include ./partials/nav %>
    <form action="/chatroom" method="POST">
        <div class="col-sm-3 my-1" id="horizontalAlign">
            <label for="roomName"></label>
            <input type="text" class="form-control" name="roomName" id="roomName" placeholder="Enter Room Name"
                required>
        </div>
        <div class="col-sm-3 my-1" id="horizontalAlign">
            <label for="roomImage"></label>
            <input type="text" class="form-control" name="roomImage" id="roomImage" placeholder="Enter image URL">
        </div>
        <div class="text-center" id="horizontalAlign">
            <button type="submit" class="btn btn-outline-info">Submit</button>
        </div>
    </form>
    
    <%  include ./partials/scripts %>
</body>

</html>