<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>User's Home Page</title>
    <% include ./partials/header %>
</head>

<body>
    <div class="container">
        <h1>Access Denied</h1>
        <div class="alert alert-danger" role="alert">
            Hacking is illegal.<br>
            Your IP address and social security number have been forwarded to the FBI.<br>
            Have a nice day!
        </div>
    </div>
    <% include ./partials/scripts %>
</body>

</html>