<html>
  <body>
    <style>
      #outgoing {
        width: 600px;
        word-wrap: break-word;
        white-space: normal;
      }
    </style> 
    <form>
      <textarea id="incoming"></textarea>
      <button type="submit">submit</button>
    </form>
    <audio id="audio" controls></audio> <br>
    <p>Please Copy this SDP address and give to your friend:</p>
    <pre id="outgoing"></pre>
    <script src="/public/audio/main.js"></script> 
  </body>
</html>