<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include ./partials/header %>
    <title>Friends</title>
</head>

<body>
    <% include ./partials/nav %>

    <% if(flash_message.length >0) { %>
        <div class="alert alert-success" role="alert">
            <%= flash_message %>
        </div>
        <% } %> 
   <div class="container" id="friendSearch">
    <form action="/friends" method="POST">
        <div class="form-row">
        <div class="col">
            <input id="friendName" name="friendName" type="text" class="form-control" placeholder="Add friend by name">
        </div>
        <button id="sendRequest" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div> 

    <div class="container">
            <ul class="list-group">
                  <%for(const friend of friends) { %>
                  <li class="list-group-item">
                      <img src="/public/images/<%= friend.photoURL %>" width="30" height="30"
                          class="circlePhoto" alt="<%= friend.username %>'s profile photo">
                      <strong><%= friend.username %> </strong>
                  </li>
                  <% } %>
                </ul>
          </div> 

    <%  include ./partials/scripts %>
</body>

</html>