<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include ./partials/header %>
    <title>Init Webcam Page!</title>
</head>

<body>
    <div class="container">
        <div class="text-center">
            <h1>Please choose one</h1>
        </div>
        <div class="text-center">
            <a href="/1/#1" class="btn btn-outline-info" role="button">Initiator</a>
            <a href="/1" class="btn btn-outline-info" role="button">Reciever</a>
        </div>
    </div>
    <%  include ./partials/scripts %>
</body>

</html>