<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include ./partials/header %>
    <title>Login Page!</title>
</head>

<body>
    <% include ./partials/nav %>
    
    
        <div class="container">
          <ul class="list-group">
                <%if(typeof(senders) !== 'undefined'){%>
                <%for(const sender of senders) { %>
                <li class="list-group-item"><%= sender.sender %></li>
                <% } }%>
              </ul>
        </div>

        

    <%  include ./partials/scripts %>
</body>

</html>