<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <% include ./partials/header %>
    <title>Send File Page!</title>
</head>

<body>
    <% include ./partials/nav %>
    <% if(flash_message.length >0) { %>
    <div class="alert alert-danger" role="alert">
        <%= flash_message %>
    </div>
    <% } %>
    <div class="container">
        <div class="text-center">
            <h1>Upload File Page</h1>
        </div>
        <div class="text-center">
            <form action="/sendFile/<%=chatRoomID%>" method="POST" enctype="multipart/form-data">
                <input type="file" name="fileUpload"><br>
                <button type="submit" class="btn btn-outline-info">Upload</button>
            </form>
        </div>
    </div>
    <%  include ./partials/scripts %>
</body>

</html>